<template name="SideNav">
  <nav class="side-nav">
    <ul class="menu">
      <li class="side">
        <a class="sidebar" href="/recette-livre"> <i class="fa fa-list"></i> Mes recettes</a>
      </li>
      <li class="side">
        <a class="sidebar" href="/menu"> <i class="fa fa-map-o"></i> Mes préparations</a>
      </li>
      <li class="side">
        <a class="sidebar" href="/shopping-list"> <i class="fa fa-shopping-cart"></i> Ma liste de courses</a>
      </li>
    </ul>
  </nav>
</template>
